{% extends 'base_standard.html.twig' %}

{% block title %}Ajouter un compte - Direction des Examens et Concours DECO (MENA-CI){% endblock %}


{% block content %}
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ asset('assets/images/background/page-title.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Connexion</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Connexion</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->

    <!-- about-style-two -->
    <section class="about-style-two about-page-1 bg-color-1">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                    <div id="content_block_three">
                        <div class="content-box">
                            <div class="sec-title right">
                                <h5>Connexion</h5>
                                {#<h2>Ajouter un compte</h2>#}
                            </div>
                            <div class="text">
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            Vous êtes connecté(e) en tant que <span class="text-success font-weight-bold">{{ app.user.lastname }} {{ app.user.firstname }}</span>, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                        </div>
                                    {% endif %}

                                    <h1 class="h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>
                                    <label for="inputEmail">Email</label>
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" autocomplete="email" required autofocus>
                                    <label for="inputPassword">Mot de passe</label>
                                    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
                                    <br>
                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >

                                    {#
                                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                        See https://symfony.com/doc/current/security/remember_me.html

                                        <div class="checkbox mb-3">
                                            <label>
                                                <input type="checkbox" name="_remember_me"> Remember me
                                            </label>
                                        </div>
                                    #}

                                    <button class="btn btn-danger btn-block btn-lg" type="submit">
                                        Connexion
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                    <div id="image_block_two">
                        <div class="image-box">
                            <div class="pattern-layer" style="background-image: url(assets/images/shape/shape-25.png);"></div>
                            <figure class="image"><img src="{{ asset('assets/images/resource/secure.jpg') }}" alt=""></figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->



{% endblock %}

