{% extends 'base_standard_sidebar.html.twig' %}

{% block title %}Section Candidat Officiel BAC - Direction des Examens et Concours DECO (MENA-CI){% endblock %}

{% block active_school_exams %} {% endblock %}
{% block pageTitle %}
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ asset('assets/images/background/page2.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Section Candidat Officiel BAC</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Examens Scolaires</li>
                    <li><a href="{{ path('school_exams_bac') }}">BAC</a></li>
                    <li>Section Candidat Officiel BAC</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->
{% endblock %}


{% block content %}

    <table class="table table-bordered table-hover table-header">
        <tr class="table-header bg-black" style="background-color: gainsboro">
            <td><h3><i class="fas fa-user"></i> Section Candidat Officiel BAC</h3></td>
        </tr>
        <tr>
            <td><a href="{{ path('school_exams_bac_procedure') }}" class="text-dark"><b>Procédure d'inscription au BAC</b></a></td>
        </tr>
        <tr>
            <td><a href="{{ path('school_exams_bac_co_edition_cand') }}" class="text-dark"><b>Edition de documents candidats</b> ::
                    <i class="fa fa-circle text-warning"></i> Fiche de paiement
                    <i class="fa fa-circle text-warning"></i> Fiche d'inscription
                    <i class="fa fa-circle text-warning"></i> Convocation aux épreuves d'éducation physique et sportive
                    <i class="fa fa-circle text-warning"></i> Fiche d'épreuves d'éducation physique et sportive (BAC Garçon)
                    <i class="fa fa-circle text-warning"></i> Fiche d'épreuves d'éducation physique et sportive (BAC Fille)
                    {#Fiche d'épreuves d'éducation physique et sportive (BEPC Garçon) <i class="fa fa-circle"></i>
                    Fiche d'épreuves d'éducation physique et sportive (BEPC Fille) <i class="fa fa-circle"></i>#}
                </a>
            </td>
        </tr>
        <tr>
            <td><a href="{{ path('school_exams_bac_co_edition_admin') }}" class="text-dark"><b>Edition de listings</b> ::
                    <i class="fa fa-circle text-warning"></i> Listing de controle des (pré)inscriptions
                    <i class="fa fa-circle text-warning"></i> Listing de controle des centres d'examen
                    <i class="fa fa-circle text-warning"></i> Listing de controle des établissements et des communes de rattachement
                    <i class="fa fa-circle text-warning"></i> Bordereaux de dépôt des fiches et de report des notes d'EPS
                    {#Fiche d'épreuves d'éducation physique et sportive (BEPC Garçon) <i class="fa fa-circle"></i>
                    Fiche d'épreuves d'éducation physique et sportive (BEPC Fille) <i class="fa fa-circle"></i>#}
                </a>
            </td>
        </tr>
    </table>

{% endblock %}
