{% extends 'base_standard.html.twig' %}

{% block title %}Recherche - Direction des Examens et Concours DECO (MENA-CI){% endblock %}

{#{% set current_menu = app.request.get('_route') %}
{{ current_menu }}
#}

{% block content %}
    <!--Page Title-->
    <section class="page-title centred" style="background-image: url({{ asset('assets/images/background/page2.jpg') }});">
        <div class="auto-container">
            <div class="content-box clearfix">
                <h1>Recherche</h1>
                <ul class="bread-crumb clearfix">
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li>Recherche</li>
                </ul>
            </div>
        </div>
    </section>
    <!--End Page Title-->


    <section class="sidebar-page-container">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-9 col-md-12 col-sm-12 content-side">
                    <div class="blog-classic-content">
                        <div class="news-block-three">
                            {% if app.request.method == 'POST' %}
                                <div>
                                    {% if articles | length == 0 %}
                                        <h2>Aucun résulat pour votre recherche.</h2>
                                    {% else %}
                                        <h2 class="mt-3">Vos résulats de recherche :</h2>
                                        {% for article in articles %}
                                            <div class="mt-3 p-3 bg-light border rounded">
                                                <a href="{{ path('news_deco_item', {'slug': article.slug}) }}">
                                                    <h6 class="text-dark"><i class="bi bi-arrow-down-right-square-fill text-primary"></i> {{ article.title }}</h6>
                                                    <div class="text-dark small p-1 rounded">
                                                        Posté le {{ article.datePublished|format_datetime('medium', 'short') }} par {{ article.author }}
                                                    </div>
                                                </a>
                                            </div>
                                        {% endfor %}
                                    {% endif %}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    {#<div class="pagination-wrapper centred">
                        <ul class="pagination clearfix">
                            {{ knp_pagination_render(articles) }}
                        </ul>
                    </div>#}
                </div>
                <div class="col-lg-3 col-md-12 col-sm-12 sidebar-side">
                    <div class="sidebar">
                        <div class="sidebar-widget sidebar-search">
                            {#<form action="" method="post" class="search-form">
                                <div class="form-group">
                                    <input type="search" name="search-field" placeholder="Rechercher" required="">
                                    <button type="submit"><i class="fas fa-search"></i></button>
                                </div>
                            </form>#}

                            {{ render(controller('App\\Controller\\SearchController::searchbar')) }}
                        </div>

                        <div class="sidebar-widget sidebar-post">
                            <div class="widget-title">
                                <h3>Actu DECO</h3>
                            </div>
                            <div class="widget-content">
                                {% for post in posts_last %}

                                    <div class="post">
                                        <figure class="post-thumb"><a href="{{ path('news_deco_item', {'slug': post.slug}) }}"><img src="/assets/uploads/posts/{{ post.imagePost }}" alt="{{ post.title }}"></a></figure>
                                        <h6><a href="{{ path('news_deco_item', {'slug': post.slug}) }}">{{ post.title }}</a></h6>
                                        <div class="post-date"><i class="far fa-calendar-alt"></i>{{ post.datePublished|format_datetime('medium', 'short') }}</div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        <div class="sidebar-widget sidebar-categories">
                            <div class="widget-title">
                                <h3>Liens utiles</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="categories-list clearfix">
                                    <li><a href="https://agce.exam-deco.org/iadmin/" target="_blank">AGCE</a></li>
                                    <li><a href="https://agcepe.exam-deco.org/admin/" target="_blank">AGCEPE</a></li>
                                    <li><a href="">ePEDAGO</a></li>
                                </ul>
                            </div>
                        </div>
                        {#<div class="sidebar-widget sidebar-categories">
                            <div class="widget-title">
                                <h3>Stats du Site</h3>
                            </div>
                            <div class="widget-content">
                                <ul class="categories-list clearfix">
                                    <li><a href="">Personnes connectées <span>(XXXXX)</span></a></li>
                                    <li><a href="">Nombre de visites<span>(XXXXXXX)</span></a></li>
                                </ul>
                            </div>
                        </div>#}
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}