<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>{% block title %}Accueil - Direction des Examens et Concours DECO (MENA-CI){% endblock %}</title>

    <!-- Fav Icon -->
    <link rel="icon" href="{{ asset('assets/images/favicon.ico') }}" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,400i,700,700i&display=swap" rel="stylesheet">

    <!-- Stylesheets -->
    <link href="{{ asset('assets/css/font-awesome-all.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/flaticon.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/owl.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/jquery.fancybox.min.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/animate.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/nice-select.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/color.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/rtl.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('assets/css/responsive.css') }}" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168543140-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-168543140-2');
    </script>


</head>


<!-- page wrapper -->
<body class="boxed_wrapper ltr">

<!-- Preloader -->
<div class="loader-wrap">
    <div class="preloader style-two"><div class="preloader-close">Fermer le préchargeur</div></div>
    <div class="layer layer-one"><span class="overlay"></span></div>
    <div class="layer layer-two"><span class="overlay"></span></div>
    <div class="layer layer-three"><span class="overlay"></span></div>
</div>


<!-- page-direction -->
<div class="page_direction">
    <div class="demo-rtl direction_switch"><button class="rtl">RTL</button></div>
    <div class="demo-ltr direction_switch"><button class="ltr">LTR</button></div>
</div>
<!-- page-direction end -->


<!-- search-popup -->
<div id="search-popup" class="search-popup">
    <div class="close-search"><span>Fermer</span></div>
    <div class="popup-inner">
        <div class="overlay-layer"></div>
        <div class="search-form">
            <form method="post" action="{{ path('search_swift') }}" name="form">
                <div class="form-group">
                    <fieldset>
                        <input type="search" class="form-control" name="query" value="" placeholder="Vos mots clés ici" required >
                        <input type="submit" value="Rechercher!" class="theme-btn style-four">
                    </fieldset>
                </div>
            </form>
            {#<h3>Mot(s) clé(s) récent(s)</h3>
            <ul class="recent-searches">
                <li><a href="{{ path('home') }}">Finance</a></li>
                <li><a href="{{ path('home') }}">Idea</a></li>
                <li><a href="{{ path('home') }}">Service</a></li>
                <li><a href="{{ path('home') }}">Growth</a></li>
                <li><a href="{{ path('home') }}">Plan</a></li>
            </ul>#}
        </div>
    </div>
</div>
<!-- search-popup end -->


<!-- main header -->
<header class="main-header style-two">
    <div class="header-top">
        <div class="auto-container">
            <div class="top-inner clearfix">
                {#<ul class="info top-left pull-left">
                    <li><img src="{{ asset('assets/images/amoirieX16.png') }}" alt=""></li>
                    <li><a href="index-2.html">About</a></li>
                    <li><a href="index-2.html">Careers</a></li>
                    <li><a href="index-2.html">Services</a></li>
                    <li><a href="index-2.html">Agents</a></li>
                </ul>#}
                <div class="info top-left pull-left" style="font-size: 12px;">
                    <img src="{{ asset('assets/images/amoirieX16.png') }}" class="mt-n1" alt="">  Ministère de l'Education Nationale et de l'Alphabétisation - <span class="font-weight-bold">Côte d'Ivoire</span>
                </div>
                <div class="top-right pull-right">
                    <ul class="social-links clearfix">
                        <li></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>

                        {% if app.user %}
                            <li style="font-size: 12px"><a href="{{ path('account_home') }}"> <i class="fa fa-user-shield"></i> {{ app.user.firstname }} {{ app.user.lastname }}</a></li>
                            <li style="font-size: 12px"><a href="{{ path('app_logout') }}"> <i class="fa fa-power-off"></i> Déconnexion</a></li>
                        {% else %}
                            {#<li style="font-size: 12px"><a href="{{ path('register') }}">Inscription</a></li>#}
                            <li style="font-size: 12px"><a href="{{ path('app_login') }}">Connexion</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-upper">
        <div class="auto-container">
            <div class="upper-inner clearfix">
                <div class="logo-box pull-left">
                    <figure class="logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo_deco.jpg') }}" alt="" width="190"></a></figure>
                </div>
                <div class="info-box pull-right">
                    <ul class="info-list clearfix">
                        <li>
                            <i class="fas fa-phone-volume"></i>
                            <p><a href="tel:+2252720328217">+225 27 20 32 82 17</a><br /><a href="mailto:courriel@men-deco.org">courriel@men-deco.org</a></p>
                        </li>
                        <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <p>Abidjan Plateau En face <br />de la Cité Administrative</p>
                        </li>
                        <li>
                            <p class="float-left">
                                <img src="{{ asset('assets/images/amoirie2.png') }}" width="65" alt="armoirie" cla>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header-lower">
        <div class="outer-box">
            <div class="auto-container">
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current"><a href="{{ path('home') }}">Accueil</a></li>
                                <li class="dropdown"><a href="">Direction</a>
                                    <ul>
                                        <li><a href="{{ path('direction_word_director') }}">Mot de la Directrice</a></li>
                                        <li><a href="{{ path('direction_historical') }}">Historique</a></li>
                                        <li><a href="{{ path('direction_assignment') }}">Mission</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="">Actualité</a>
                                    <ul>
                                        <li><a href="{{ path('news_releases') }}">Communiqués</a></li>
                                        <li><a href="{{ path('news_deco') }}">Actu DECO</a></li>
                                        <li><a href="{{ path('news_calendar') }}">Calendrier des examens et concours</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown"><a href="">Examens scolaires</a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-lg-3 column">
                                                <ul>
                                                    <li><a href="{{ path('school_exams_bac') }}"><h4 class="font-weight-bold">BAC Session 2022</h4></a></li>
                                                    <li><a href="{{ path('school_exams_bac_procedure') }}">Procédure d'inscription</a></li>
                                                    <li><a href="{{ path('school_exams_bac_co') }}">Section Candidat Officiel</a></li>
                                                    <li><a href="{{ path('school_exams_bac_cl') }}">Section Candidat Libre</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 column">
                                                <ul>
                                                    <li><a href="{{ path('school_exams_bepc') }}"><h4 class="font-weight-bold">BEPC Session 2022</h4></a></li>
                                                    <li><a href="{{ path('school_exams_bepc_procedure') }}">Procédure d'inscription</a></li>
                                                    <li><a href="{{ path('school_exams_bepc_co') }}">Section Candidat Officiel</a></li>
                                                    <li><a href="{{ path('school_exams_bepc_cl') }}">Section Candidat Libre</a></li>
                                                    <li><a href="{{ path('school_exams_to_procedure') }}">Section Test d'orientation en Seconde</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 column">
                                                <ul>
                                                    <li><a href="{{ path('school_exams_cepe') }}"><h4 class="font-weight-bold">CEPE Session 2022</h4></a></li>
                                                    <li><a href="{{ path('school_exams_cepe_procedure') }}">Procédure d'inscription</a></li>
                                                    <li><a href="{{ path('school_exams_cepe_co') }}">Section Candidat Officiel</a></li>
                                                    <li><a href="{{ path('school_exams_cepe_cl') }}">Section Candidat Libre</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-lg-3 column">
                                                <ul>
                                                    <li><h4 class="font-weight-bold">Liens utiles</h4></li>
                                                    <li><a href="https://agcepe.exam-deco.org/admin/" target="_blank">Accès AGCEPE</a></li>
                                                    <li><a href="https://agce.exam-deco.org/iadmin/" target="_blank">Accès AGCE</a></li>
                                                    <li><a href="https://agfne.sigfne.net/admin/" target="_blank">Accès AGFNE</a></li>
                                                    <li><a href="https://agfne.sigfne.net/vas/interface-edition-documents-sigfne/" target="_blank">SIGFNE DSPS/MEN : Edition de documents</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="dropdown"><a href="">Concours pédagogiques</a>
                                    <ul>
                                        <li><a href="">Examens et Concours Pédagogiques</a></li>
                                        <li><a href="">Accès ePEDAGO</a></li>
                                    </ul>
                                </li>
                                <li class="{% if block('active_edemandes') is defined %} current {% endif %}"><a href="{{ path('edemandes') }}">eDemandes</a></li>
                            </ul>
                        </div>
                    </nav>
                    <div class="menu-right-content clearfix">
                        <div class="search-btn mt-3">
                            <button type="button" class="search-toggler"><i class="flaticon-search-1"></i></button>
                        </div>
                        <div class="btn-box">
                            {#<a href="index-2.html" class="theme-btn style-two">Get Free Quote</a>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="auto-container">
            <div class="outer-box clearfix">
                <div class="logo-box pull-left">
                    <figure class="logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo_deco.jpg') }}" width="100 "  alt=""></a></figure>
                </div>
                <div class="menu-area pull-right">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- main-header end -->

<!-- Mobile Menu  -->
<div class="mobile-menu">
    <div class="menu-backdrop"></div>
    <div class="close-btn"><i class="fas fa-times"></i></div>

    <nav class="menu-box">
        <div class="nav-logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo_deco.jpg') }}" width="75" alt="" title=""></a></div>
        <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
        <div class="contact-info">
            <h4>Contact</h4>
            <ul>
                <li>BP V 276 Abidjan <br>RCI, Abidjan Plateau en face de la Cité Administrative sur le prolongement du Ministère de la Défense</li>
                <li><a href="mailto:courriel@men-deco.org">courriel@men-deco.org</a></li>
                <li><a href="tel:+2252720328217">+225 27 20 32 82 17</a></li>
                <li><a href="tel:+2252720328742">+225 27 20 32 87 42</a></li>
                <li><a href="tel:+2252720320074">+225 27 20 32 00 74</a></li>
            </ul>
        </div>
        <div class="social-links">
            <ul class="clearfix">
                <li><a href="{{ path('home') }}"><span class="fab fa-twitter"></span></a></li>
                <li><a href="{{ path('home') }}"><span class="fab fa-facebook-square"></span></a></li>
                <li><a href="{{ path('home') }}"><span class="fab fa-linkedin-in"></span></a></li>
            </ul>
        </div>
    </nav>
</div>
<!-- End Mobile Menu -->

{#{% block body %}#}

    <!-- banner-section -->
    <section class="banner-section style-two mt-20">
        <div class="banner-carousel owl-theme owl-carousel owl-dots-none">
            {% for slide in slides %}
                {% set vide = "" %}

            <div class="slide-item">
                <div class="image-layer" style="background-image:url('/assets/uploads/slides/{{ slide.imageSlide }}')"></div>
                <div class="auto-container">
                    <div class="content-box {{ slide.slidePosition }}">
                        <h5>{{ slide.subTitle2 }}</h5>
                        <h1>{{ slide.title|raw }}</h1>
                        <p>{{ slide.subTitle }}</p>
                        <div class="btn-box">
                            {% if (slide.buttonText1 != vide) or (slide.buttonText1 is not null) %}
                                <a href="{{ slide.link }}" class="theme-btn style-two"><i class="fas fa-link"></i>{{ slide.buttonText1 }}</a>
                            {% endif %}
                            {% if (slide.buttonText2 != vide) or (slide.buttonText2 is not null) %}
                                <a href="{{ slide.link }}" class="user-btn-two"><i class="far fa-user"></i>{{ slide.buttonText2 }}</a>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            {% endfor %}

            {#<div class="slide-item">
                <div class="image-layer" style="background-image:url({{ asset('assets/images/slides/1.jpg') }})"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h5>towards a bright future </h5>
                        <h1>Perfect Insurance <br />When it Matters</h1>
                        <p>Beniam quis nostrud exercitation sed lamco laboris nis aliquip <br />repraderit luptate velit excepteur ocaan ipsum.</p>
                        <div class="btn-box">
                            <a href="{{ path('home') }}" class="theme-btn style-two"><i class="fas fa-atom"></i>How We Help</a>
                            <a href="index" class="user-btn-two"><i class="far fa-user"></i>Find an Agent</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slide-item">
                <div class="image-layer" style="background-image:url({{ asset('assets/images/slides/2.jpg') }})"></div>
                <div class="auto-container">
                    <div class="content-box centred">
                        <h1>We Provide Not Just <br />Coverage, But Advice</h1>
                        <p>Beniam quis nostrud exercitation sed lamco laboris nis aliquip <br />repraderit luptate velit excepteur ocaan ipsum.</p>
                        <div class="btn-box">
                            <a href="{{ path('home') }}" class="theme-btn style-two"><i class="fas fa-atom"></i>How We Help</a>
                            <a href="index" class="user-btn-two"><i class="far fa-user"></i>Find an Agent</a>
                        </div>
                    </div>
                </div>
            </div>#}
            {#<div class="slide-item">
                <div class="image-layer" style="background-image:url({{ asset('assets/images/banner/banner-6.jpg') }})"></div>
                <div class="auto-container">
                    <div class="content-box">
                        <h1>The Right Caring <br />For Whole Family</h1>
                        <p>Beniam quis nostrud exercitation sed lamco laboris <br />repraderit luptate velit excepteur ocaan.</p>
                        <div class="btn-box">
                            <a href="{{ path('home') }}" class="theme-btn style-two mar-0"><i class="fas fa-atom"></i>How We Help</a>
                        </div>
                    </div>
                </div>
            </div>#}
        </div>
    </section>
    <!-- banner-section end -->

    <!-- intro-section -->
    {% if flashinfos|length > 0 %}
    <section class="intro-section mb-70">
        <div class="auto-container">
            <div class="upper-content">
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-6 col-sm-12 single-column">
                       <div class="single-item text-center mt-4">
                               <h3 class="font-weight-bold text-danger">Flash Infos <i class="fa fa-bullhorn"></i></h3>
                       </div>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 single-column m-n4">
                        <div class="single-item">
                            <div class="inner-box">
                                <div class="auto-container">
                                    <div class="testimonial-inner">
                                        <div class="client-testimonial-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                                            {% for flashinfo in flashinfos %}
                                            <div class="testimonial-block">
                                                <div class="text-center mt-n1">
                                                    <p><h5>{{ flashinfo.title }}</h5></p>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
                                        <div class="client-thumb-outer" style="display: none">
                                            <div class="client-thumbs-carousel owl-carousel owl-theme owl-nav-none owl-dots-none">
                                                <div class="thumb-item">
                                                    <figure class="thumb-box"><img src="{{ asset('assets/images/resource/testimonial-1.png') }}" alt=""></figure>
                                                    <div class="info-box">
                                                        <h5>Robert Smith</h5>
                                                        <span class="designation">Senior Manager</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}
    <!-- intro-section end -->

    <!-- about-style-two -->
    <section class="about-style-two mt-20">
        <div class="auto-container">
            <div class="row clearfix ">
                {#<div class="pattern-layer" style="background-image: url({{ asset('assets/images/shape/shape-4.png') }});"></div>#}
                <div class="auto-container">
                    <div class="row clearfix">
                        <div class="col-lg-7 col-md-12 col-sm-12 content-column">
                            <div id="content_block_three">
                                <div class="content-box">
                                    <div class="sec-title right">
                                        <h5>Direction des Examens et Concours du Ministère de l'Education Nationale et de
                                            l'Alphabétisation de la Côte d'Ivoire</h5>
                                        <h2>Mot de la Directrice</h2>
                                    </div>
                                    <div class="text">
                                        <p>Depuis de longues années, la Direction des Examens et COncours (DECO), sans tambour
                                            ni trompette, lutte pour la réhabilitation des diplômes ivoiriens, et partant, pour
                                            la restauration de l’honorabilité de notre pays. La philosophie de notre structure
                                            : discrétion au service de l’efficacité.
                                        </p>

                                        <br>

                                        <p>
                                            Mais aujourd’hui face aux nombreuses sollicitations dont nous sommes l’objet de la
                                            part des administrations de tous les continents, nous décidons de rompre le silence
                                            pour nous ouvrir au monde. D’où notre présence sur Internet qui, plus qu’un effet de
                                            mode, représente pour nous un impératif de gestion...
                                        </p>

                                        <br>

                                        <p>
                                            <a href="{{ path('direction_word_director') }}" class="btn btn-success btn-lg"> <i class="fa fa-plus-circle"></i> Lire la suite</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-12 col-sm-12 image-column">
                            <div id="image_block_two">
                                <div class="image-box">
                                    <figure class="image"><img src="{{ asset('assets/images/resource/directrice_dosso_nimaga_mariam.jpg') }}" alt=""></figure>
                                    <div class="content-box">
                                        <i class="fas fa-microphone"></i>
                                        <h4>Mme Mariam Nimaga DOSSO</h4>
                                        <h5>Directrice de la DECO</h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- about-style-two end -->

    <!-- stats-section -->
    <section class="stats-section centred bg-color-1 p-lg-5 ">
        <div class="auto-container mb-lg-n5">
            <div class="sec-title centred">
                <h5>Statistiques</h5>
                <h2>Session 2021</h2>
            </div>
            <div class="row clearfix">
                <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                    <div class="single-item">
                        <figure class="icon-box"><img src="{{ asset('assets/images/icons/icon-17.png') }}" alt=""></figure>
                        <h3>310 118 <br>Candidats au BAC</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                    <div class="single-item">
                        <figure class="icon-box"><img src="{{ asset('assets/images/icons/icon-19.png') }}" alt=""></figure>
                        <h3>509 758<br>Candidats au BEPC</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                    <div class="single-item">
                        <figure class="icon-box"><img src="{{ asset('assets/images/icons/icon-23.png') }}" alt=""></figure>
                        <h3>562 524<br>Candidats au CEPE</h3>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12 single-column">
                    <div class="single-item">
                        <figure class="icon-box"><img src="{{ asset('assets/images/icons/icon-20.png') }}" alt=""></figure>
                        <h3>60 000+<br>Candidats sur ePEDAGO</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- stats-section end -->



    <!-- news-section -->
    <section class="news-section mb-lg-n1">
        <div class="auto-container">
            <div class="upper-box clearfix">
                <div class="sec-title centred">
                    <h5><a href="{{ path('news_deco') }}">Voir toutes les Actus DECO</a></h5>
                    <h2>Actu DECO</h2>
                </div>
            </div>
            <div class="three-item-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">

                {% for post in posts %}

                    {% set nwords = post.content|length + post.title|length %}
                    {% set resume = post.content|slice(0, 250) %}

                <div class="news-block-one wow fadeInUp animated animated" data-wow-delay="00ms" data-wow-duration="1500ms">
                    <div class="inner-box">
                        <figure class="image-box"><a href="{{ path('news_deco_item', {'slug': post.slug}) }}"><img src="/assets/uploads/posts/{{ post.imagePost }}" alt="{{ post.title }}"></a></figure>
                        <div class="lower-content">
                            <ul class="post-info">
                                <li>Par <a href="{{ path('home') }}">DECO</a></li>
                                <li>{{ post.datePublished|format_datetime('medium', 'short') }}</li>
                                <li class="share">
                                    <a href="#"><i class="fas fa-share-alt"></i></a>
                                    <ul class="social-links">
                                        <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fab fa-vimeo-v"></i></a></li>
                                        <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                    </ul>
                                </li>
                            </ul>
                            <h3><a href="{{ path('news_deco_item', {'slug': post.slug}) }}">{{ post.title }}</a></h3>
                            <p>{{ (nwords > 250 ? resume|striptags|slice(0,250) ~ '…' : post.content|raw)  }}</p>
                            <div class="link"><a href="{{ path('news_deco_item', {'slug': post.slug}) }}"><i class="fas fa-arrow-right"></i><span>Lire la suite</span></a></div>
                        </div>
                    </div>
                </div>

                {% endfor %}

            </div>
        </div>
    </section>
    <!-- news-section end -->

    <!-- service-style-two -->
    <section class="service-style-two bg-color-2">
        <div class="pattern-layer" style="background-image: url({{ asset('assets/images/shape/shape-5.png') }});"></div>
        <div class="auto-container">
            <div class="sec-title light centred">
                <h5>Espace Candidats</h5>
                <h2>Examens Scolaires</h2>
                <p>Baccalauréat (BAC), Brevet d'Etudes du Premier Cycle (BEPC), Test d'Orientation
                    <br>en Seconde et Certificat d'Etudes Primaires Elémentaires</p>
            </div>
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-graduation-cap"></i></div>
                            <h4><a href="{{ path('school_exams_bac') }}">Candidature au BAC Session 2022</a></h4>
                            <p>Préinscription, inscription, convocation etc.</p>
                            <div class="link"><a href="{{ path('school_exams_bac') }}"><i class="fas fa-arrow-right"></i><span>Tout Savoir</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-graduation-cap"></i></div>
                            <h4><a href="{{ path('school_exams_bepc') }}">Candidature au BEPC Session 2022</a></h4>
                            <p>Préinscription, inscription, convocation etc.</p>
                            <div class="link"><a href="{{ path('school_exams_bepc') }}"><i class="fas fa-arrow-right"></i><span>Tout Savoir</span></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 service-block">
                    <div class="service-block-two wow fadeInUp" data-wow-delay="00ms" data-wow-duration="1500ms">
                        <div class="inner-box">
                            <div class="icon-box"><i class="flaticon-graduation-cap"></i></div>
                            <h4><a href="{{ path('school_exams_cepe') }}">Candidature au CEPE Session 2022</a></h4>
                            <p>Préinscription, inscription, convocation etc.</p>
                            <div class="link"><a href="{{ path('school_exams_cepe') }}"><i class="fas fa-arrow-right"></i><span>Tout Savoir</span></a></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- service-style-two end -->

{#    <!-- team-section -->
    <section class="team-section">
        <div class="auto-container">
            <div class="upper-box clearfix">
                <div class="sec-title style-two pull-left">
                    <h5>DECO Connect</h5>
                    <h2>Plateformes DECO</h2>
                </div>
                <div class="btn-box pull-right">
                    <a href=""><i class="fas fa-user"></i>Tout voir</a>
                </div>
            </div>
            <div class="four-item-carousel owl-carousel owl-theme owl-nav-none owl-dot-style-one">
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{ asset('assets/images/plateformes/agce.jpg') }}" alt="AGCE"></figure>
                        <div class="lower-content">
                            <div class="content-box">
                                <h3><a href="">AGCE</a></h3>
                                <span class="designation"></span>
                            </div>
                            <div class="ovellay-box">
                                <h3><a href="">AGCE</a></h3>
                                <span class="designation"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{ asset('assets/images/plateformes/agcepe.jpg') }}" alt="AGCEPE"></figure>
                        <div class="lower-content">
                            <div class="content-box">
                                <h3><a href="">AGCEPE</a></h3>
                                <span class="designation"></span>
                            </div>
                            <div class="ovellay-box">
                                <h3><a href="">AGCEPE</a></h3>
                                <span class="designation"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{ asset('assets/images/plateformes/edemandes.jpg') }}" alt="eDemandes"></figure>
                        <div class="lower-content">
                            <div class="content-box">
                                <h3><a href="">eDemandes</a></h3>
                                <span class="designation"></span>
                            </div>
                            <div class="ovellay-box">
                                <h3><a href="">eDemandes</a></h3>
                                <span class="designation"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{ asset('assets/images/plateformes/epedago.jpg') }}" alt="ePEDAGO"></figure>
                        <div class="lower-content">
                            <div class="content-box">
                                <h3><a href="">ePEDAGO</a></h3>
                                <span class="designation"></span>
                            </div>
                            <div class="ovellay-box">
                                <h3><a href="">ePEDAGO</a></h3>
                                <span class="designation"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="team-block-one">
                    <div class="inner-box">
                        <figure class="image-box"><img src="{{ asset('assets/images/plateformes/edao.jpg') }}" alt="eDAO"></figure>
                        <div class="lower-content">
                            <div class="content-box">
                                <h3><a href="">eDAO</a></h3>
                                <span class="designation"></span>
                            </div>
                            <div class="ovellay-box">
                                <h3><a href="">eDAO</a></h3>
                                <span class="designation"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- team-section end -->#}

{#    <!-- policy-section -->
    <section class="policy-section bg-color-2">
        <div class="pattern-layer" style="background-image: url({{ asset('assets/images/shape/shape-9.png') }});"></div>
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                    <div id="content_block_five">
                        <div class="content-box">
                            <div class="sec-title light left">
                                <h5>try a policy</h5>
                                <h2>Get Free Quote</h2>
                                <p>Et mini veniam quis nostrud ipsum exercitastion ullamco ipsum laboris sed ipsum ut perspiciatis unde.</p>
                            </div>
                            <ul class="info-list clearfix">
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <h4>Company Head Office</h4>
                                    <p>838 Andy Street, Madison, New Jersy 08003</p>
                                </li>
                                <li>
                                    <i class="fas fa-phone-volume"></i>
                                    <h4>Request a Callback</h4>
                                    <p><a href="tel:01005200369">0 (100) 5200 369</a> / <a href="tel:01005200123">0 (100) 5200 123</a></p>
                                </li>
                                <li>
                                    <i class="fas fa-envelope-open"></i>
                                    <h4>Email Support</h4>
                                    <p><a href="mailto:info@my-domain.com">info@my-domain.com </a> / <a href="mailto:support@info.com">support@info.com</a></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 inner-column">
                    <div id="content_block_six">
                        <div class="content-box">
                            <div class="tabs-box">
                                <div class="tab-btn-box">
                                    <ul class="tab-btns tab-buttons clearfix">
                                        <li class="tab-btn active-btn" data-tab="#tab-4">Life</li>
                                        <li class="tab-btn" data-tab="#tab-5">Home</li>
                                        <li class="tab-btn" data-tab="#tab-6">Car</li>
                                        <li class="tab-btn" data-tab="#tab-7">Health</li>
                                    </ul>
                                </div>
                                <div class="tabs-content">
                                    <div class="tab active-tab" id="tab-4">
                                        <div class="content-inner">
                                            <p>Select a product to start a quote. Or call us at <a href="tel:01005200369">0100-5200-369</a></p>
                                            <form action="index-2.html" method="post">
                                                <div class="form-group">
                                                    <i class="fas fa-user"></i>
                                                    <input type="text" name="name" placeholder="Name" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-envelope-open"></i>
                                                    <input type="email" name="email" placeholder="Email" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-chess-knight"></i>
                                                    <div class="select-box">
                                                        <select class="wide">
                                                            <option data-display="Select">Select a plan</option>
                                                            <option value="1">Life Insurance</option>
                                                            <option value="2">Home Insurance</option>
                                                            <option value="3" disabled>A disabled option</option>
                                                            <option value="4">Car Insurance</option>
                                                            <option value="5">Health Insurance</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group message-btn">
                                                    <button type="submit" class="theme-btn style-two">start my insurance plan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-5">
                                        <div class="content-inner">
                                            <p>Select a product to start a quote. Or call us at <a href="tel:01005200369">0100-5200-369</a></p>
                                            <form action="index-2.html" method="post">
                                                <div class="form-group">
                                                    <i class="fas fa-user"></i>
                                                    <input type="text" name="name" placeholder="Name" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-envelope-open"></i>
                                                    <input type="email" name="email" placeholder="Email" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-chess-knight"></i>
                                                    <div class="select-box">
                                                        <select class="wide">
                                                            <option data-display="Select">Select a plan</option>
                                                            <option value="1">Life Insurance</option>
                                                            <option value="2">Home Insurance</option>
                                                            <option value="3" disabled>A disabled option</option>
                                                            <option value="4">Car Insurance</option>
                                                            <option value="5">Health Insurance</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group message-btn">
                                                    <button type="submit" class="theme-btn style-two">start my insurance plan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-6">
                                        <div class="content-inner">
                                            <p>Select a product to start a quote. Or call us at <a href="tel:01005200369">0100-5200-369</a></p>
                                            <form action="index-2.html" method="post">
                                                <div class="form-group">
                                                    <i class="fas fa-user"></i>
                                                    <input type="text" name="name" placeholder="Name" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-envelope-open"></i>
                                                    <input type="email" name="email" placeholder="Email" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-chess-knight"></i>
                                                    <div class="select-box">
                                                        <select class="wide">
                                                            <option data-display="Select">Select a plan</option>
                                                            <option value="1">Life Insurance</option>
                                                            <option value="2">Home Insurance</option>
                                                            <option value="3" disabled>A disabled option</option>
                                                            <option value="4">Car Insurance</option>
                                                            <option value="5">Health Insurance</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group message-btn">
                                                    <button type="submit" class="theme-btn style-two">start my insurance plan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="tab" id="tab-7">
                                        <div class="content-inner">
                                            <p>Select a product to start a quote. Or call us at <a href="tel:01005200369">0100-5200-369</a></p>
                                            <form action="index-2.html" method="post">
                                                <div class="form-group">
                                                    <i class="fas fa-user"></i>
                                                    <input type="text" name="name" placeholder="Name" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-envelope-open"></i>
                                                    <input type="email" name="email" placeholder="Email" required="">
                                                </div>
                                                <div class="form-group">
                                                    <i class="fas fa-chess-knight"></i>
                                                    <div class="select-box">
                                                        <select class="wide">
                                                            <option data-display="Select">Select a plan</option>
                                                            <option value="1">Life Insurance</option>
                                                            <option value="2">Home Insurance</option>
                                                            <option value="3" disabled>A disabled option</option>
                                                            <option value="4">Car Insurance</option>
                                                            <option value="5">Health Insurance</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group message-btn">
                                                    <button type="submit" class="theme-btn style-two">start my insurance plan</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- policy-section end -->#}



    <!-- clients-section -->
    <section class="clients-section">
        <div class="auto-container">
            <div class="clients-carousel owl-carousel owl-theme owl-dots-none owl-nav-none">
                {% for partner in partners %}
                    <figure class="client-logo"><a href="{{ partner.link }}" target="_blank"><img src="/assets/uploads/partners/{{ partner.image }}" width="80" alt="{{ partner.name }}"></a></figure>
                {% endfor %}
                {#<figure class="client-logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/clients/clients-2.png') }}" alt=""></a></figure>#}

            </div>

        </div>
    </section>
    <!-- clients-section end -->

{#{% endblock %}#}


<!-- main-footer -->
<footer class="main-footer alternet-2">
    <div class="footer-upper">
        <div class="auto-container">
            <div class="upper-inner clearfix">
                <div class="text pull-left">
                    <h2>Ecrire à la DECO</h2>
                    <p>Vous avez une préoccupation ? Vous pouvez nous laisser un message.</p>
                </div>
                <div class="btn-box pull-right">
                    <a href="{{ path('contact') }}" class="theme-btn style-one">Formulaire contact</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-top">
        <div class="auto-container">
            <div class="widget-section">
                <div class="row clearfix">
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget logo-widget">
                            <figure class="footer-logo"><a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo_deco.jpg') }}" width="150" alt=""></a></figure>
                            <div class="text">
                                <p>Ministère de l'Education Nationale et de l'Alphabétisation - Côte d'Ivoire</p>
                            </div>
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>BP V 276 Abidjan
                                    RCI, Abidjan Plateau en face de la Cité Administrative sur le prolongement du Ministère de la Défense</li>
                                <li><i class="fas fa-envelope"></i>Email <a href="mailto:courriel@men-deco.org">courriel@men-deco.org</a></li>
                                <li><i class="fas fa-headphones"></i>Support <a href="tel:+2252720328217">+225 27 20 32 82 17</a></li>
                            </ul>
                            <ul class="social-links clearfix">
                                <li><a href="{{ path('home') }}"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="{{ path('home') }}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{ path('home') }}"><i class="fab fa-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget ml-70">
                            <div class="widget-title">
                                <h4>Direction</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="{{ path('direction_word_director') }}">Mot de la Directrice</a></li>
                                    <li><a href="{{ path('direction_historical') }}">Historique</a></li>
                                    <li><a href="{{ path('direction_assignment') }}">Mission</a></li>
                                    <li><a href="{{ path('news_releases') }}">Communiqués</a></li>
                                    <li><a href="{{ path('news_deco') }}">Actu DECO</a></li>
                                    <li><a href="{{ path('news_calendar') }}">Calendrier</a></li>
                                    <li><a href="{{ path('contact') }}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Examens Scolaires</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="{{ path('school_exams_bac') }}">BAC</a></li>
                                    <li><a href="{{ path('school_exams_bepc') }}">BEPC</a></li>
                                    <li><a href="{{ path('school_exams_to_procedure') }}">Test d'Orientation en Seconde</a></li>
                                    <li><a href="{{ path('school_exams_cepe') }}">CEPE</a></li>
                                    <li><a href="https://agce.exam-deco.org/iadmin/" target="_blank">AGCE</a></li>
                                    <li><a href="https://agcepe.exam-deco.org/admin/" target="_blank">AGCEPE</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                        <div class="footer-widget links-widget">
                            <div class="widget-title">
                                <h4>Examens et Concours Pédagogiques</h4>
                            </div>
                            <div class="widget-content">
                                <ul class="list clearfix">
                                    <li><a href="">Examens et Concours Pédagogiques</a></li>
                                    <li><a href="">Accès ePEDAGO</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">
                <p>&copy; {{ 'now' | date('Y') }} <a href="mailto:anselmeseri@yahoo.fr">OpenedSky</a> - Direction des Examens et Concours. All rights reserved.</p>
                <br>
            </div>
        </div>
    </div>
</footer>
<!-- main-footer end -->



<!--Scroll to top-->
<button class="scroll-top style-two scroll-to-target" data-target="html">
    <span class="fa fa-arrow-up"></span>
</button>


<!-- sidebar cart item -->
<div class="xs-sidebar-group info-group info-sidebar">
    <div class="xs-overlay xs-bg-black"></div>
    <div class="xs-sidebar-widget">
        <div class="sidebar-widget-container">
            <div class="widget-heading">
                <a href="#" class="close-side-widget">X</a>
            </div>
            <div class="sidebar-textwidget">
                <div class="sidebar-info-contents">
                    <div class="content-inner">
                        <div class="upper-box">
                            <div class="logo">
                                <a href="{{ path('home') }}"><img src="{{ asset('assets/images/logo_deco.jpg') }}" alt="" /></a>
                            </div>
                            <div class="text">
                                <p>Ministère de l'Education Nationale et de
                                    l'Alphabétisation - Côte d'Ivoire</p>
                            </div>
                        </div>
                        <div class="side-menu-box">
                            <div class="side-menu">
                                <nav class="menu-box">
                                    <div class="menu-outer">

                                    </div>
                                </nav>
                            </div>
                        </div>
                        <div class="info-box">
                            <h3>Plus d'infos</h3>
                            <ul class="info-list clearfix">
                                <li><i class="fas fa-map-marker-alt"></i>BP V 276 Abidjan <br>RCI, Abidjan Plateau en face de la Cité Administrative sur le prolongement du Ministère de la Défense</li>
                                <li><i class="fas fa-envelope"></i><a href="mailto:courriel@men-deco.org">courriel@men-deco.org</a></li>
                                <li><i class="fas fa-headphones-alt"></i><a href="tel:+2252720328217">+225 27 20 32 82 17</a></li>
                                <li><i class="fas fa-headphones-alt"></i><a href="tel:+2252720328742">+225 27 20 32 87 42</a></li>
                                <li><i class="fas fa-headphones-alt"></i><a href="tel:+2252720320074">+225 27 20 32 00 74</a></li>
                                {#<form action="contact.html" method="post" class="subscribe-form">
                                    <div class="form-group">
                                        <input type="email" name="email" placeholder="Email address" required="">
                                        <button type="submit" class="theme-btn style-one">subscribe now</button>
                                    </div>
                                </form>#}
                                <ul class="social-links clearfix">
                                    <li><a href="{{ path('home') }}"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="{{ path('home') }}"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="{{ path('home') }}"><i class="fab fa-linkedin-in"></i></a></li>
                                    {#<li><a href="{{ path('home') }}"><i class="fab fa-google-plus-g"></i></a></li>
                                    <li><a href="{{ path('home') }}"><i class="fab fa-pinterest-p"></i></a></li>
                                    <li><a href="{{ path('home') }}"><i class="fab fa-instagram"></i></a></li>#}
                                </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- END sidebar widget item -->

<!-- Flash_Bottom -->
<div class="" id="tiv">
    <div id="flash_info" style="width:100%; padding:0px; margin:0px">
        <table border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <tr>
                <td class="cad_inf">FLASH<span style="color: floralwhite">INFO</span></td>
                <td>
                    <marquee direction="left" width="100%" scrollamount="3.5" onmouseover="this.stop()" onmouseout="this.start()" style="font-size:15px; padding:3px;">



                        {% for flashinfo in flashinfos %}
                            <span style="background-color:#C00; color:#FFF; font-weight:bold; padding:4px 4px 5px 4px">INFO</span>
                            <span style="color:#FFF; font-weight:normal; ">
							<a href="{{ flashinfo.link }}" style="color: white; text-transform: none">{{ flashinfo.title }}</a>
                        </span>
                        {% endfor %}
                    </marquee>

                </td>

                <!--  <td><a href="#" title="précédent" class="btn_nav_flash">
                      <img src="" alt="prec">
                    </a></td>

                  <td><a href="#" title="suivant" class="btn_nav_flash">
                      <img src="" alt="suiv">
                    </a></td>-->
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- END Flash_Bottom -->


<!-- jequery plugins -->
<script src="{{ asset('assets/js/jquery.js') }}"></script>
<script src="{{ asset('assets/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/js/owl.js') }}"></script>
<script src="{{ asset('assets/js/wow.js') }}"></script>
<script src="{{ asset('assets/js/validation.js') }}"></script>
<script src="{{ asset('assets/js/jquery.fancybox.js') }}"></script>
<script src="{{ asset('assets/js/appear.js') }}"></script>
<script src="{{ asset('assets/js/jquery.countTo.js') }}"></script>
<script src="{{ asset('assets/js/scrollbar.js') }}"></script>
<script src="{{ asset('assets/js/nav-tool.js') }}"></script>
<script src="{{ asset('assets/js/TweenMax.min.js') }}"></script>
<script src="{{ asset('assets/js/circle-progress.js') }}"></script>
<script src="{{ asset('assets/js/jquery.nice-select.min.js') }}"></script>

<!-- main-js -->
<script src="{{ asset('assets/js/script.js') }}"></script>

</body><!-- End of .page_wrapper -->
</html>
